@import 'compass';
@import 'reset';
@import 'lumxcolors';
@import 'colours';
@import 'scrollbar';
@import 'dimensions';
@import 'mixins';

.popup {
    position: absolute;
    left: 0;
    top: 0;
    background-color: #fff;
    width: 80px;
    border: 1px #ccc solid;
    box-shadow: #333 2px 2px 4px;
}
.popup input{
   background-color: #fff;
   border:0;
   outline:none;
   width:80px;
   height:25px;
}
.popup input:hover{
   background-color: #4281F4;
   width:80px;
   height:25px;
   color: #fff;
}

.center {
    text-align: center;
}
.view {
    height: 100%;
}
.view-header {
    height: calc(100% - #{$headerHeight});
}

#header {
    height: $headerHeight;
    background-color: $header-bg;
    @include box-shadow(0px 1px 2px rgba(0,0,0,0.3));

    #navbar {
        float: right;

        ul {
            list-style: none;
            margin: 0;
            padding: 0;

            li {
                margin: 0;
                padding: 0;
                float: left;

                a {
                    display: block;
                    height: $headerHeight;
                    line-height: $headerHeight;
                    padding-left: 10px;
                    padding-right: 10px;
                    color: $nav-col;
                    @include transition(all 500ms ease);

                    &:hover {
                        background-color: $blue-grey-800;
                    }
                }
            }
        }
    }
}

#network {
    width: 100%;
    height: 100%;
    overflow: hidden;

    svg {
        width: 100%;
        height: 100%;
    }
}

#sidebar {
    position: absolute;
    width: $sidebarWidth;
    height: calc(100% - #{$headerHeight});
    top: $headerHeight;
    right:0;
    background-color: $sidebar-bg;
    @include transition(all 500ms ease);
    overflow-y: scroll;
    overflow-x: hidden;

    &.unlocked {
        background-color: rgba($sidebar-bg, 0.5);
    }

    #sidebar-controls {
        padding-top: 10px;

        i.fa {
            padding: 5px;
            @include transition(all 500ms ease);

            &:hover {
                cursor: pointer;
                color: $sidebar-controls-hover;
            }
        }
    }

    #species-list {
        li {
            list-style: none;
            padding-left: 10px;
            padding-right: 10px;
            @include transition(all 500ms ease);

            &:hover {
                background-color: $grey-100;
                cursor: pointer;
            }

            &:nth-child(odd) {
                background-color: rgba($grey-100, 0.5);

                &:hover {
                    background-color: $grey-100;
                }
            }
        }
    }
}
