@import 'compass';
@import 'mixins';
@import 'lumxcolors';
@import 'colours';
@import 'dimensions';
@import 'scrollbar';

html, body {
    height : 100%;
    width  : 100%;
}

canvas {
    display: block
}

#nodetext {
    position: absolute;
    left: 50%;
    top: 50%;
    padding: 10px;
    max-width: 350px;
    border: 2px solid black;
    @include border-radius(5px);
    background-color: rgba(255,255,255,0.8);

    display: none;

    &.showing {
        display: block;
    }
}
