<div ng-controller="FluxCtrl as fluxCtrl">
    <div id="topbar">
        <div class="left">
            <ul>
                <li>
                    <a href=#>
                        <h3>ConsortiaFlux</h3>
                    </a>
                </li>
                <li>
                    <a href ng-click="fluxCtrl.addSpecie()" tooltips title="Choose specie(s)" tooltip-side="bottom">
                        <i class="fa fa-exchange"></i>
                    </a>
                </li>
                <li>
                    <a href ng-click="fluxCtrl.optimize()" tooltips title="Optimize" tooltip-side="bottom">
                        <i class="fa fa-crosshairs"></i>
                    </a>
                </li>
                <li ng-show="fluxCtrl.type === 'specie'">
                    <a href ng-click="fluxCtrl.addReaction()" tooltips title="Modify Model" tooltip-side="bottom">
                        <i class="fa fa-pencil"></i>
                    </a>
                </li>
                <li ng-show="fluxCtrl.type === 'community'">
                    <a tooltips title="Cannot modify community model" tooltip-side="bottom">
                        <i class="faded fa fa-pencil"></i>
                    </a>
                </li>
                <li>
                    <a href ng-click="fluxCtrl.changeCommunity()" tooltips title="Change Community" tooltip-side="bottom">
                        <i class="fa fa-gears"></i>
                    </a>
                </li>
            </ul>
        </div>
        <div class="right take-remaining-width">
            <ul>
                <li>
                    <a href ng-click="fluxCtrl.statusModal()">
                        <span class="status" ng-show="fluxCtrl.type === 'specie'">
                            {{fluxCtrl.MR.modelId}}
                        </span>
                        <span class="status" ng-show="fluxCtrl.type === 'community'">
                            Community ({{fluxCtrl.CC.models.length}})
                        </span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div id="canvas-wrapper">

    </div>
    <!-- <div ng-include src='"app/components/network/network.html"' class="view"></div> -->
</div>
