/*
 * A partial implementation of the Ruby list functions from Compass:
 * https://github.com/Compass/compass/blob/stable/lib/compass/sass_extensions/functions/lists.rb
 */
/*
 * A partial implementation of the Ruby constants functions from Compass:
 * https://github.com/Compass/compass/blob/stable/lib/compass/sass_extensions/functions/constants.rb
 */
/*
 * A partial implementation of the Ruby display functions from Compass:
 * https://github.com/Compass/compass/blob/stable/core/lib/compass/core/sass_extensions/functions/display.rb
 */
@import url(https://fonts.googleapis.com/css?family=Dancing+Script);
html::-webkit-scrollbar {
  width: 12px; }

html::-webkit-scrollbar-track-piece {
  background: #72bcf8; }

html::-webkit-scrollbar-thumb {
  background: #42A5F5; }

* {
  box-sizing: border-box; }

html, body {
  height: 100%;
  width: 100%; }

select {
  width: 100%; }

.fill {
  width: 100%;
  height: 100%; }

.take-remaining-width {
  overflow: hidden; }

body {
  background-image: url("../images/bg/subtle-pattern-10.jpg");
  background-repeat: repeat;
  background-position: top left; }

canvas {
  display: block;
  width: 100%;
  height: 100%; }

.wrap {
  margin: 0 auto;
  max-width: 1200px; }

.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-right: 2rem;
  padding-left: 2rem; }

.hr-medium {
  margin-top: 5px;
  margin-bottom: 10px; }

.tags-wrapper {
  margin-bottom: 10px; }
  .tags-wrapper span span.tag {
    margin-right: 5px; }
  .tags-wrapper span:last-child span.tag {
    margin-right: 0; }

.species-name {
  text-transform: capitalize; }

.species-strain {
  font-style: italic; }

.panel {
  -webkit-box-shadow: 0;
  -moz-box-shadow: 0;
  box-shadow: 0;
  border: 2px solid #1abc9c; }

.panel-heading {
  padding: 0; }
  .panel-heading a {
    padding: 10px 15px;
    display: block; }
    .panel-heading a:hover {
      background-color: #1abc9c;
      color: white; }

#splash #main-title {
  text-align: center;
  font-family: "Dancing Script", cursive; }
  #splash #main-title h1 {
    display: block;
    font-size: 5em;
    margin: 0;
    padding-top: 20px;
    padding-bottom: 10px; }
  #splash #main-title h2 {
    display: block;
    font-size: 2em;
    font-style: italic; }

#splash .panel {
  background-color: #EEEEEE;
  padding: 20px;
  text-align: left;
  border-radius: 5px;
  border-bottom: 2px solid #d4d4d4; }

#splash .button {
  margin-top: 20px;
  display: block;
  color: white;
  text-decoration: none;
  text-align: center;
  padding: 20px;
  font-size: 1.5em;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  -webkit-transition: 500ms false false, ease false false;
  -moz-transition: 500ms false false false, ease false false false;
  -o-transition: 500ms false false false, ease false false false;
  transition: 500ms ease; }
  #splash .button.blue {
    background-color: #2196F3;
    border-bottom: 2px solid #0c7cd5; }
  #splash .button.green {
    background-color: #4CAF50;
    border-bottom: 2px solid #3d8b40; }
  #splash .button.purple {
    background-color: #9C27B0;
    border-bottom: 2px solid #771e86; }
  #splash .button a {
    display: inline; }
  #splash .button:hover.blue {
    background-color: #51adf6; }
  #splash .button:hover.green {
    background-color: #6ec071; }
  #splash .button:hover.purple {
    background-color: #bc37d3; }

#topbar {
  position: absolute;
  display: inline-block;
  width: 100%;
  height: 50px;
  background-color: rgba(97, 97, 97, 0.9); }
  #topbar h3 {
    float: left;
    font-family: "Dancing Script", cursive;
    padding: 0;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0;
    color: white;
    line-height: 50px;
    font-size: 2em; }
    #topbar h3:hover {
      color: #CE93D8; }
  #topbar .status {
    color: white;
    background-color: #42A5F5;
    display: block;
    font-size: 1.5em;
    padding-left: 10px;
    padding-right: 10px;
    line-height: 50px; }
  #topbar ul {
    margin: 0;
    padding: 0; }
    #topbar ul li {
      list-style: none;
      float: left;
      height: 50px;
      line-height: 50px;
      text-align: center; }
      #topbar ul li a {
        position: relative;
        color: white;
        text-decoration: none; }
        #topbar ul li a i {
          font-size: 30px;
          width: 50px;
          padding: 10px; }
        #topbar ul li a:hover i {
          color: #42A5F5;
          background-color: #616161; }
          #topbar ul li a:hover i.faded {
            color: #BDBDBD; }
        #topbar ul li a:hover ul {
          left: 0; }

a {
  text-decoration: none; }
  a:hover {
    text-decoration: none; }

.mymodal {
  max-height: 90%;
  overflow-y: scroll;
  position: absolute;
  width: 600px;
  padding: 15px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background-color: #F5F5F5;
  border-bottom: 2px solid gainsboro;
  z-index: 100; }
  .mymodal i {
    display: block;
    text-align: center; }

.closeButton {
  color: white;
  display: inline-block;
  background-color: #EF5350;
  padding: 10px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  border-bottom: 2px solid #eb2521; }
  .closeButton:hover {
    background-color: #f3817f;
    color: white; }

.right {
  float: right; }

.left {
  float: left; }

.fade {
  position: fixed;
  left: 0%;
  top: 0%;
  background-color: black;
  -moz-opacity: 0.7;
  opacity: .70;
  filter: alpha(opacity=70);
  width: 100%;
  height: 100%;
  z-index: 90; }

#nodetext {
  position: absolute;
  left: 50%;
  top: 50%;
  padding: 10px;
  max-width: 350px;
  border: 2px solid black;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.8);
  display: none; }
  #nodetext.showing {
    display: block; }

.nav, .pagination, .carousel, .panel-title a {
  cursor: pointer; }

.list-group ul {
  margin: 0;
  padding: 0; }
