/*
 * A partial implementation of the Ruby list functions from Compass:
 * https://github.com/Compass/compass/blob/stable/lib/compass/sass_extensions/functions/lists.rb
 */
/*
 * A partial implementation of the Ruby constants functions from Compass:
 * https://github.com/Compass/compass/blob/stable/lib/compass/sass_extensions/functions/constants.rb
 */
/*
 * A partial implementation of the Ruby display functions from Compass:
 * https://github.com/Compass/compass/blob/stable/core/lib/compass/core/sass_extensions/functions/display.rb
 */
#header {
  height: 60px;
  background-color: #009688;
  -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3); }
  #header #navbar {
    float: right; }
    #header #navbar ul {
      list-style: none;
      margin: 0;
      padding: 0; }
      #header #navbar ul li {
        margin: 0;
        padding: 0;
        float: left; }
        #header #navbar ul li a {
          display: block;
          height: 60px;
          line-height: 60px;
          padding-left: 10px;
          padding-right: 10px;
          color: #BDBDBD;
          -webkit-transition: all false false, 500ms false false, ease false false;
          -moz-transition: all false false false, 500ms false false false, ease false false false;
          -o-transition: all false false false, 500ms false false false, ease false false false;
          transition: all 500ms ease; }
          #header #navbar ul li a:hover {
            background-color: #37474F; }

#network {
  width: 100%;
  height: 600px; }
