// see: http://ui.lumapps.com/css/colors

$turqoise: #1abc9c;


$header-bg: $teal-500;
$sidebar-bg: $cyan-500;
$sidebar-controls-hover: $deep-purple-500;
$nav-col: $grey-400;

$strain-colour: $grey-600;
