html {
    &::-webkit-scrollbar {
        width: 12px;
    }

    &::-webkit-scrollbar-track-piece {
        background: lighten($blue-400, 10%);
    }

    &::-webkit-scrollbar-thumb {
        background: $blue-400;
    }
}
