<div ng-show="display" class="mymodal">
    <div ng-show="loading">
        Retrieving species list...
        <i ng-show="loading" class="fa fa-5x fa-spin fa-spinner"></i>
    </div>
    <div ng-show="!loading">
        <div ng-show="community.length > 1">
            Current community:
            <input ng-model="communityName" type="text">
            <hr class="hr-medium">
        </div>
        <div class="tags-wrapper">
            <span ng-repeat="specie in species">
                <span class="tag label label-info" ng-repeat="model in specie.models" ng-show="model.checked">
                    {{model.id}}
                    <span data-role="remove"></span>
                </span>
            </span>
        </div>
        <accordion close-others="false">
            <accordion-group ng-repeat="specie in species">
                <accordion-heading ng-click="isopen=!isopen" data-toggle="collapse">
                    <span class="species-name">{{specie.SPECIES}}</span>
                    <span class="species-strain">{{specie.STRAIN}}</span>
                </accordion-heading>

                <label class="checkbox" ng-repeat="model in specie.models">
                    <input type="checkbox" ng-click="checkboxClick(model, $event)" ng-model="model.checked" class="custom-checkbox">
                    <span class="icons">
                        <span class="icon-unchecked"></span>
                        <span class="icon-checked"></span>
                    </span>
                    {{model.id}}
                </label>


                <!-- <button ng-click="choose(specie)" type="button" class="btn btn-primary right">Use</button> -->
            </accordion-group>
        </accordion>
    </div>

    <!-- <a class="closeButton right" href ng-click="close()">Close</a> -->
    <button ng-click="close()" type="button" class="btn btn-danger right">Close</button>
    <button ng-click="render()" ng-show="community.length === 1" ng-click="renderModel()" type="button" class="btn btn-primary">Render Model</button>
    <button ng-click="render()" ng-show="community.length > 1" ng-click="renderCommunity()" type="button" class="btn btn-primary">Render Community</button>
</div>
<!-- <div class="fade" ng-show="display"></div> -->
