/* GENERAL */
body {
  background: #EDEDEA;
}

.popup {
    position: absolute;
    left: 0;
    top: 0;
    background-color: #fff;
    width: 80px;
    border: 1px #ccc solid;
    box-shadow: #333 2px 2px 4px;      
}
.popup input{
   background-color: #fff;  
   border:0;
   outline:none;    
   width:80px;
   height:25px;  
}
.popup input:hover{
   background-color: #4281F4;    
   width:80px;
   height:25px;
   color: #fff;
}